/* You can add global styles to this file, and also import other style files */
//@import '~material-icons/iconfont/material-icons.scss';

@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import '~material-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}


body {
  font-family: "Roboto", sans-serif !important;
  font-size: 13px !important;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background: #fff;
  margin: 0;
}


/*Utility*/

a {

  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
    outline: none;
    outline-offset: 0;
  }
}

ul {
  list-style: none;
}

.required {
  color: red;
  font-weight: 700;
  border: 0;
}

.fs-14 {
  font-size: 14px !important;
}

.text-gray {
  color: #8f9396 !important;
}


.card-header {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff ;
}

.dropdown-menu {
  border-radius: 0px;
  border: none !important;
  background-color: #fff;

  .dropdown-item {
    color: #000 !important;
    margin-right: 100px;
    font-size: 13px !important;
    border-bottom: 1px dotted #333 ;

    &:hover {
      background-color: #fff !important;
      cursor: pointer;
    }
    &:last-child {
      border-bottom :none !important ;
    }
  }

  li {
    &:hover {
      background-color: #f8f8fb !important;

      a {
        &:hover {
          background-color: #f8f8fb !important;
          color: #5867dd !important;
          cursor: pointer !important;
        }
      }

      i.fas {
        color: #5867dd !important;
      }
    }
  }
}

.form-control:focus,
.btn:focus {
  box-shadow: none !important;
}

.form-control,
.custom-file-input {
  border-radius: 2px;
}

.invalid-feedback {
  display: block;
  font-size: 18px;
}
