<ul>
    <li>
        <a mat-list-item routerLink="./administration/category">Catégories</a>
    </li>
    <li>
        <a mat-list-item routerLink="./administration/sub-category">Sous Catégories </a>
    </li>
    <li>
        <a mat-list-item routerLink="./administration/ads">Annonces</a>
    </li>
    <li>
        <a mat-list-item routerLink="./administration/users">Utilisateurs</a>
    </li>
    <li>
        <a mat-list-item routerLink="./administration/users">Déconnecter</a>
    </li>
</ul>