<main id="main" class="site-main main">
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="container container--mini">
                    <div class="card shadow-sm">
                        <h2 class=" main-text text-center">Mot de passe oublié?</h2>
                        <form [formGroup]="forgotEmailForm" (ngSubmit)="submit()" class="card-body">
                            <div class="form-group mb-4">
                                <label for="user_login">Email</label>
                                <input class="form-control form-control-sm" formControlName="email" type="email"
                                    name="user_login" id="user_login">
                            </div>
                            <div class="p-0 form-row">
                                <button class="btn btn-primary btn-block mb-4" type="submit">Envoyer réinitialisation du
                                    mot
                                    de passe</button>
                            </div>
                        </form>
                    </div>
                    <p class="text-center text-gray-soft">Mémoriser votre mot de passe? <a
                            [routerLink]="['../signin']">Sign in</a></p>
                </div>
            </div>
        </div>
    </section>
</main>