<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="line-scale-pulse-out">
  <p style="font-size: 20px; color: #fff"></p>
</ngx-spinner>

<div class="container mt-5">
  <!-- <div class="row">
        <div class="col-md-12">
            <agm-map [latitude]="36.862499" [longitude]="10.195556" [zoom]="zoom" [disableDefaultUI]="false"
                [zoomControl]="false" (mapClick)="mapClicked($event)">
            </agm-map>
        </div>

    </div> -->
  <div class="row mt-3">
    <div class="col-md-12">
      <app-filter [categoryList]="categoryList" [adsList]="adsList" [delegationsList]="delegationsList"
        [governoratesList]="governoratesList"></app-filter>
    </div>
  </div>
  <!-- <div class="row mt-3">
        <div class="mx-auto"
            >
            <div class="col-md-3">
                <div class="card border-0" style="width: 18rem;">
                    <img *ngIf="ad.filesURL[0]===undefined" src="https://via.placeholder.com/350" class="card-img-top"
                        alt="...">
                    <img *ngIf="ad.filesURL[0]!=undefined" src="{{ad.filesURL[0]}}" class="card-img-top" alt="">
                    <div class="text-primary"><span>Prix : </span>{{ad.price}}</div>
                    <div class="card-body py-2 px-0">
                        <h5 class="card-title">{{ad.title}}</h5>
                        <p class="card-text">{{ad.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
  <div class="row mt-3 ">
    <app-list-ads [adsList]="adsList"></app-list-ads>
  </div>
</div>