.container {
  .row {
    .card-img-top {
      border-radius: 0px;
      width: 200px;
      height: 200px;
    }
  }
}


agm-map {
  height:300px;
}


* {
  font-family: Lato;
}

a {
  color: darkblue;
}