input[type="file"] {
  display: none;
}

.form-group {
  img {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  i {
    position: absolute;
    color: red;
    font-weight: 700;
    font-size: 30px;
  }
}


agm-map {
  height: 300px;
}