<nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
           <li class="nav-item">
                <a class=" text-uppercase btn-sm btn btn-outline-primary rounded-pill" [routerLink]="['ads']">crée une annonce</a>
            </li>
           <!--     <li class="nav-item ">
                <a class="nav-link text-uppercase" [routerLink]="['ads']">Liste des sous Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" [routerLink]="['ads']">Liste des annonces</a>
            </li>
          <li class="nav-item ml-auto">
                <a class="nav-link" [routerLink]="['ads']"  >annonce</a>
            </li>
           -->
        </ul>
    </div>
</nav>