<header  *ngIf="authentificationService.visible" id="header">
    <ul class="navbar-nav mr-3">
        <li class="nav-item dropdown ml-auto">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Khadhraoui bilel
                <img width="25px" height="25px" class="ml-1" src="../../../assets/icons/img_549112.png">
            </a>
            <div class="dropdown-menu p-0">
                <a class="dropdown-item" [routerLink]="['profile']">Profile</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </li>
    </ul>
</header>

<nav *ngIf="authentificationService.visible" class="navbar navbar-expand-lg navbar-light bg-light ">
    <ul class="navbar-nav mr-auto">
        <li *ngIf="user && user.authorization==='admin'" class="nav-item ">
            <a class="text-uppercase nav-link ml-auto" [routerLink]="['./administration/category']">Catégories </a>
        </li>
        <li *ngIf="user && user.authorization==='admin'" class="nav-item ">
            <a class="text-uppercase nav-link" [routerLink]="['./administration/sub-category']">Sous Catégories </a>
        </li>
        <li *ngIf="user && user.authorization==='admin'" class="nav-item ">
            <a class="text-uppercase nav-link" [routerLink]="['./administration/ads']">annonces </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li *ngIf="user && user.authorization==='user'" class="nav-item ">
            <a class="mr-auto text-uppercase btn-sm btn btn-outline-primary" [routerLink]="['shopper/ads']">crée une
                annonce</a>
        </li>
    </ul>
</nav>