.dropdown-menu {
  left: -1px !important;
}

.navbar {
  .navbar-nav {
    .nav-link {
      color: #fff ;
    }
    .nav-item {
      a {
        i {
          position: relative;
        }

        .badge {
          position: absolute;
          left: 0px;
          top: 5px;
          z-index: 1111;
        }
      }
    }
  }
}
