<ngx-spinner bdColor="rgba(0,0,0,0.2)" size="large" color="#000000" type="ball-clip-rotate">
  <p style="font-size:30px; color: #000000"></p>
</ngx-spinner>

<div class="container-fluid mt-5 mb-3">
  <div class="row mt-3  p-2 mb-3">
    <div class="col-md-6 col-sm-12">
      <app-filter [subCategoryList]="subCategoryList" [categoryList]="categoryList" [adsList]="adsList"
        [delegationsList]="delegationsList" [governoratesList]="governoratesList"></app-filter>
    </div>
    <div class="col-md-6 col-sm-12 card shadow-sm pr-0 pl-0">
      <agm-map [latitude]="36.862499" [longitude]="10.195556"
        (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
        <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"
          [opacity]="marker.alpha" [markerDraggable]="false" (markerClick)="selectMarker($event)">
        </agm-marker>
        <agm-circle [latitude]="currentLatitude" [longitude]="currentLongitude" [radius]="500000"
        [fillColor]="'red'" [circleDraggable]="false" [editable]="false">
        </agm-circle>
      </agm-map>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row mt-3 p-2">
    <app-list-ads [adsList]="adsList"></app-list-ads>
  </div>
</div>