.container {
  .row {
    .card-img-top {
      border-radius: 0px;
      width: 200px;
      height: 200px;
    }
  }
}



agm-map {
  height: 250px;
  width: 100%;
}





.overlay{
  display: none ;
}