<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Liste des sous categories
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 pr-0"> <button (click)="add()" data-toggle="modal" data-target="#addModal"
                        data-whatever="@mdo"
                        class="btn btn-sm btn-outline-primary mb-3 float-right text-uppercase mr-1 ">Ajouter une
                        nouvelle sous catégorie </button></div>
            </div>
            <div class="row">
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="line-scale-pulse-out">
                    <p style="font-size: 20px; color: #fff"></p>
                </ngx-spinner>
                <table class="table  table-striped">
                    <thead>
                        <tr class="text-uppercase">
                            <th scope="col">#</th>
                            <th scope="col">sous catégorie </th>
                            <th scope="col">catégorie </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let subCategory of subCategoryList  | paginate: { itemsPerPage: pageSize, currentPage:p ,totalItems: totalItems } ;let i = index ">
                            <th scope="row">{{i}}</th>
                            <td>{{subCategory.title}}</td>
                            <td>{{subCategory.category.title}}</td>
                            <td>
                                <button class="btn btn-sm btn-sm btn-primary mr-1" (click)='confirmModal(subCategory)'><i
                                        class="fas fa-trash-alt"></i></button>
                                <button class="btn btn-sm btn-sm btn-primary" (click)='edit(subCategory)'><i class="far fa-edit"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6 d-flex align-items-center justify-content-end">
                    <!-- <label class="mb-0 mr-2 ">Display</label>
                    <select (change)="onchangePageSize($event)" class="form-control displayPages mr-2">
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                            <option>25</option>
                        </select> -->
                    <pagination-controls previousLabel="" nextLabel="" screenReaderPaginationLabel=""
                        screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"
                        class="float-right pagination py-auto" (pageChange)="getsubCategory($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
