<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 ">
            <button type="button shadow-sm" [routerLink]="['../ads']"
                class="btn btn-primary btn-sm mb-3  text-uppercase float-right mr-4">Retour</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm ">
                <div class="card-header text-uppercase">
                    ajouter une nouvelle annonce
                </div>
                <div class="card-body">
                    <form [formGroup]="adForm" (ngSubmit)="submit()">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-label">TITRE:</label>
                                        <input name="title" formControlName="title" type="text"
                                            class="form-control shadow-sm form-control-sm" id="recipient-name"
                                            [ngClass]="{ 'is-invalid': submitted && adForm.controls.title.errors }">
                                        <div *ngIf="submitted && adForm.controls.title.errors" class="invalid-feedback">
                                            <div *ngIf="submitted && adForm.controls.title.errors.required">Ce champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name"
                                            class="form-label text-uppercase">gouvernorat:</label>
                                        <select [(ngModel)]="selectedGovernorate" class="form-control shadow-sm  form-control-sm" id="recipient-name"
                                            (change)="changeGovernorate($event)" formControlName="governorate"
                                            [ngClass]="{ 'is-invalid': submitted && adForm.controls.governorate.errors }">
                                            <option value=""></option>
                                            <option *ngFor="let governorate of governoratesList" name="governorate"
                                            [ngValue]="governorate">
                                                {{governorate.value}}</option>
                                        </select>
                                        <div *ngIf="submitted && adForm.controls.governorate.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="submitted && adForm.controls.governorate.errors.required">Ce
                                                champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name"
                                            class="form-label text-uppercase">délégations:</label>
                                        <select [(ngModel)]="selectedDelegation" class="form-control shadow-sm form-control-sm" id="recipient-name"
                                            (change)="changeDelegations($event)" formControlName="delegation"
                                            [ngClass]="{ 'is-invalid': submitted && adForm.controls.delegation.errors }">
                                            <option value=""></option>
                                            <option *ngFor="let delegations of delegationsListSelected"
                                            [ngValue]="delegations"   name="delegation" >
                                                {{delegations.value}}</option>
                                        </select>
                                        <div *ngIf="submitted && adForm.controls.delegation.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="submitted && adForm.controls.delegation.errors.required">Ce
                                                champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input id="custom-input" (change)="onFileChange($event.target.files)"
                                            type="file" multiple #fileInput accept="image/x-png,image/jpeg">
                                        <a class="btn btn-outline-primary btn-sm text-uppercase"
                                            (click)="fileInput.click()">choisir des images</a>
                                        <div class="mt-2">
                                            <div class="row">
                                                <div class="images-box d-flex justify-content-between"
                                                    *ngFor="let fileURL of filesURL let i = index">
                                                    <img class="mr-2 mb-2 shadow" src="{{fileURL}}">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <input name="id" formControlName="_id" type="hidden"
                                            class="form-control shadow-sm form-control-sm" id="recipient-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label text-uppercase">Catégories:</label>
                                        <select class="form-control shadow-sm form-control-sm" id="recipient-name"
                                            (change)="changeCategory($event)" formControlName="category"
                                            [ngClass]="{ 'is-invalid': submitted && adForm.controls.category.errors }">
                                            <option value=""></option>
                                            <option *ngFor="let category of categoryList" name="category"
                                                value="{{category._id}}">
                                                {{category.title}}</option>
                                        </select>
                                        <div *ngIf="submitted && adForm.controls.category.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="submitted && adForm.controls.category.errors.required">Ce champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf='showSubCategory'>
                                        <label for="recipient-name" class="form-label text-uppercase">Sous
                                            Catégories:</label>
                                        <select class="form-control shadow-sm form-control-sm" id="recipient-name"
                                            (change)="onChangeSubCategory($event)" formControlName="subCategory"
                                            [ngClass]="{ 'is-invalid': submitted && adForm.controls.subCategory.errors }">
                                            <option *ngFor="let subCategory of subCategoryList" name="category"
                                                value="{{subCategory._id}}">
                                                {{subCategory.title}}</option>
                                        </select>
                                        <div *ngIf="submitted && adForm.controls.category.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="submitted && adForm.controls.category.errors.required">Ce champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-label">PRIX:</label>
                                        <input name="prix" formControlName="price" min="0" type="number"
                                            class="form-control shadow-sm form-control-sm" id="recipient-name"
                                            [ngClass]="{ 'is-invalid': submitted && adForm.controls.price.errors }">
                                        <div *ngIf="submitted && adForm.controls.price.errors" class="invalid-feedback">
                                            <div *ngIf="submitted && adForm.controls.price.errors.required">Ce champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label text-uppercase" for="comment">Description:</label>
                                        <textarea
                                            [ngClass]="{ 'is-invalid': submitted && adForm.controls.description.errors }"
                                            formControlName="description" class="form-control shadow-sm form-control-sm"
                                            rows="5" id="comment"></textarea>
                                        <div *ngIf="submitted && adForm.controls.description.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="submitted && adForm.controls.description.errors.required">Ce
                                                champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-sm btn-secondary text-uppercase">ANNULER</button>
                            <button type="submit" class="btn btn-sm  btn-primary   text-uppercase">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

