<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 ">
            <button type="button" [routerLink]="['../ads']" class="btn btn-primary btn-sm mb-3  text-uppercase float-right mr-4">Retour</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header text-uppercase">
                    ajouter une nouvelle annonce
                </div>
                <div class="card-body">
                    <form [formGroup]="adsForm" (ngSubmit)="submit()">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-label">TITRE:</label>
                                        <input name="title" formControlName="title" type="text"
                                            class="form-control shadow-sm form-control-sm" id="recipient-name"
                                            [ngClass]="{ 'is-invalid': submitted && adsForm.controls.title.errors }">
                                        <div *ngIf="submitted && adsForm.controls.title.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="submitted && adsForm.controls.title.errors.required">Ce champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-uppercase">images</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" multiple
                                                formControlName="files" id="importFile"
                                                (change)="onFileChange($event.target.files)">
                                            <label class="custom-file-label shadow-sm" #labelImport for="importFile"><i></i></label>
                                               
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name"
                                            class="form-label text-uppercase">gouvernorat:</label>
                                        <select class="form-control shadow-sm  form-control-sm" id="recipient-name"
                                            (change)="changeGovernorate($event)" formControlName="governorate"
                                            [ngClass]="{ 'is-invalid': submitted && adsForm.controls.governorate.errors }">
                                            <option value=""></option>
                                            <option *ngFor="let governorate of governoratesList" name="governorate"
                                                value="{{governorate.key}}">
                                                {{governorate.value}}</option>
                                        </select>
                                        <div *ngIf="submitted && adsForm.controls.governorate.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="submitted && adsForm.controls.governorate.errors.required">Ce
                                                champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name"
                                            class="form-label text-uppercase">délégations:</label>
                                        <select class="form-control shadow-sm form-control-sm" id="recipient-name"
                                            (change)="changeDelegations($event)" formControlName="governorate"
                                            [ngClass]="{ 'is-invalid': submitted && adsForm.controls.governorate.errors }">
                                            <option value=""></option>
                                            <option *ngFor="let delegations of delegationsListSelected"
                                                name="governorate" value="{{delegations.key}}">
                                                {{delegations.value}}</option>
                                        </select>
                                        <div *ngIf="submitted && adsForm.controls.governorate.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="submitted && adsForm.controls.governorate.errors.required">Ce
                                                champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input name="id" formControlName="_id" type="hidden"
                                            class="form-control shadow-sm form-control-sm" id="recipient-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label text-uppercase">Catégories:</label>
                                        <select class="form-control shadow-sm form-control-sm" id="recipient-name"
                                            (change)="changeCategory($event)" formControlName="category"
                                            [ngClass]="{ 'is-invalid': submitted && adsForm.controls.category.errors }">
                                            <option value=""></option>
                                            <option *ngFor="let category of categoryList" name="category"
                                                value="{{category._id}}">
                                                {{category.title}}</option>
                                        </select>
                                        <div *ngIf="submitted && adsForm.controls.category.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="submitted && adsForm.controls.category.errors.required">Ce champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf='showSubCategory'>
                                        <label for="recipient-name" class="form-label text-uppercase">Sous
                                            Catégories:</label>
                                        <select class="form-control shadow-sm form-control-sm" id="recipient-name"
                                            (change)="onChangeSubCategory($event)" formControlName="subCategory"
                                            [ngClass]="{ 'is-invalid': submitted && adsForm.controls.subCategory.errors }">
                                            <option *ngFor="let subCategory of subCategoryList" name="category"
                                                value="{{subCategory._id}}">
                                                {{subCategory.title}}</option>
                                        </select>
                                        <div *ngIf="submitted && adsForm.controls.category.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="submitted && adsForm.controls.category.errors.required">Ce champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-label">PRIX:</label>
                                        <input name="prix" formControlName="price" min="0" type="number"
                                            class="form-control shadow-sm form-control-sm" id="recipient-name"
                                            [ngClass]="{ 'is-invalid': submitted && adsForm.controls.price.errors }">
                                        <div *ngIf="submitted && adsForm.controls.price.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="submitted && adsForm.controls.price.errors.required">Ce champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label text-uppercase" for="comment">Description:</label>
                                        <textarea
                                            [ngClass]="{ 'is-invalid': submitted && adsForm.controls.description.errors }"
                                            formControlName="description" class="form-control shadow-sm form-control-sm" rows="5"
                                            id="comment"></textarea>
                                        <div *ngIf="submitted && adsForm.controls.description.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="submitted && adsForm.controls.description.errors.required">Ce
                                                champ
                                                est
                                                obligatoire !</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-sm btn-secondary text-uppercase">ANNULER</button>
                            <button type="submit" class="btn btn-sm  btn-primary   text-uppercase"
                                >{{btnName}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>