<main id="main" class="site-main main">
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="container container--mini">
                    <div class="card shadow-sm">
                        <form class="card-body" [formGroup]="signupForm" (ngSubmit)="submit()" id="loginform">
                            <div class="form-group">
                                <label for="user_login">nom</label>
                                <span class="required"> *</span>
                                <input type="text" formControlName="firstName" class="form-control" size="20">
                            </div>
                            <div class="form-group">
                                <label for="user_login">Prenom</label>
                                <span class="required"> *</span>
                                <input type="text" formControlName="lastName" class="form-control" size="20">
                            </div>
                            <div class="form-group">
                                <label for="user_login">Email</label>
                                <span class="required"> *</span>
                                <input type="text" formControlName="email" class="form-control" size="20">
                            </div>
                            <div class="form-group">
                                <label for="user_pass">mot de passe</label>
                                <span class="required"> *</span>
                                <input type="password" formControlName="password" name="pwd" class="form-control"
                                    size="20">
                            </div>
                            <div class="form-group">
                                <button type="submit"  class="btn btn-outline-secondary btn-sm btn-block mb-2" >Inscription</button>
                            </div>
                        </form>
                    </div>
                    <p class=" text-center text-gray-soft">vous avez déjà un compte? <a [routerLink]="['../signin']">se connecter</a></p>
                </div>
            </div>
        </div>
    </section>
</main>