@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.jumbotron {
  background: linear-gradient(90deg, rgba(140, 187, 237, 1) 0%, rgba(0, 123, 255, 1) 50%) !important;
  font-family: 'Oswald', sans-serif !important;
  border-radius: 0;
  .main-title {
    color: #fff;
    font-size: 80px;
  }
}
