.dropdown-menu {
  border-radius: 0px;  
  margin-top: 0.6rem;
  border: none !important;
  background-color: #fff;
  box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);

  .dropdown-item {
    color: #000 !important;
    margin-right: 100px;
    font-size: 15px !important;
    &:hover {
      background-color: #fff !important ;
      cursor: pointer;
    }
  }
  li {
    &:hover {
      background-color: #f8f8fb !important;
      a {
        &:hover {
          background-color: #f8f8fb !important;
          color: #5867dd !important;
          cursor: pointer !important;
        }
      }
      i.fas {
        color: #5867dd !important;
      }
    }
  }
}
