<div class="d-flex justify-content-center mx-auto" >
    <div *ngFor="let ad of adsList  | paginate: { itemsPerPage: 10, currentPage:p ,totalItems: totalItems } ;let i = index" class="col-md-4">
      <div (click)="navigateToAd(ad._id)" class="card mb-4 shadow-sm">
             <img *ngIf="ad.filesURL[0]===undefined" src="https://via.placeholder.com/350" class="card-img-top" alt="...">
             <img *ngIf="ad.filesURL[0]!=undefined" src="{{ad.filesURL[0]}}" class="card-img-top" alt="">
        <div class="card-body">
            <h5>Lorem, ipsum.</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="font-weight-light price-text">prix :  <span class="text-danger">{{ad.price}}</span></small>
            <small class="font-weight-light text-primary">{{ad.createdAt| date: 'dd-MM-yyyy'}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>