<div class="row mx-auto" >
    <div class="col-md-4" *ngFor="let ad of adsList  | paginate: { itemsPerPage: 10, currentPage:p ,totalItems: totalItems } ;let i = index" class="col-md-4">
      <div (click)="navigateToAd(ad._id)" class="card mb-4 shadow-sm">
             <img *ngIf="ad.filesURL[0]===undefined" src="https://via.placeholder.com/350" class="card-img-top" alt="...">
             <img *ngIf="ad.filesURL[0]!=undefined" src="{{ad.filesURL[0]}}" class="card-img-top" alt="">
        <div class="card-body">
          <div>{{ad.title}}</div>
          <p>{{ad.description}}</p>
          <hr>
          <div><span>Publié : </span>{{ad.createdAt}}</div>
          <div class="text-danger font-weight-light"><span>Prix :</span>{{ad.price}} DT</div>
        </div>
      </div>
    </div>
  </div>