<!--<footer>
    <section class="footer-top p-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3>About </h3>
                    <p>Whatever method you chosse,these nine will make you re-think theway you craft healines Why? Because they all have points in that are worth from a point of view.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>Quick Links</h3>
                    <div class="d-flex ">
                        <div class="mr-3">
                            <ul>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Get In Touch </h3>
                    <form action=""> <input type="text" class="form-control" placeholder="Enter Your Email"></form>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container-fluid">
            <ul class="d-flex bd-highlight">
                <li class="p-2 flex-grow-1 bd-highlight"> © 2019 <a>Keenthemes</a></li>
                <li class="p-2 bd-highlight"> <a>Purchase Lisence</a></li>
                <li class="p-2 bd-highlight"> <a>Team</a></li>
                <li class="p-2 bd-highlight"> <a>Contact</a></li>
            </ul>
        </div>
    </section>
</footer>-->