<main id="main" class="site-main main">
    <section class="section">
        <div class="container">
            <div class="row">
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="line-scale-pulse-out">
                    <p style="font-size: 20px; color: #fff"></p>
                </ngx-spinner>
                <div class="container container--mini">
                    <div *ngIf="showErrorMessage" class="alert alert-danger text-center rounded-0 shadow-sm"
                        role="alert">
                        {{errorMessage}}
                    </div>
                    <!-- <h2 class="mb-1 main-title text-center  mb-3">Sign In</h2> -->
                    <div class="card shadow-sm">
                        <form class="card-body" [formGroup]="loginForm" (ngSubmit)="submit()" id="loginform">
                            <div class="form-group">
                                <label for="user_login">Email</label>
                                <input formControlName="email" type="text" class="form-control  form-control-sm"  size="20">
                            </div>
                            <div class="form-group">
                                <label for="user_pass">Mot de passe</label>
                                <a class="form-sublink" [routerLink]="['../lost-password']">mot de passe oublié?</a>
                                <input formControlName="password" type="password" name="pwd" class="form-control form-control-sm"
                                    value="" size="20">
                            </div>
                            <div class="form-group">
                                <button type="submit" name="wp-submit" class="btn btn-outline-secondary btn-sm btn-block mb-2" >Se connecter</button>
                                <button type="button" class="btn  btn-outline-primary btn-sm btn-block">Facebook</button>
                            </div>
                        </form>
                    </div>
                    <p class="small text-center sub-text">Vous n'avez pas encore de compte? <a
                            [routerLink]="['../signup']">
                            S'inscrire</a></p>
                </div>
            </div>
        </div>
    </section>
</main>