.main {
    flex: 1 0 auto;
    position: relative;
    .section {
        position: relative;
        padding: 65px 0;
        .card {
            border-radius: 2px ;
        }
        #loginform {
            
                .form-sublink {
                    float: right;
                    color: #000;
                    font-size: 12px;
                    margin-top: 0.3rem;
                }
            }
        }
        .sub-text {
            color: #000 !important;
            margin-top: 5px ;
            font-size: 14px ;
        }
}

@media (min-width: 768px) {
    .container--mini {
        max-width: 380px;
    }
}

.main-title {
    font-weight: 700 !important;
    font-size: 23px;
    @media (max-width: 768px) {
        font-size: 18px;
    }
}